{% extends 'lmn/base.html' %}
{% block content %}

<div class="post">

  <a class="btn btn-default" href="{% url 'lmn:edit_notes' pk=note.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
  <a class="btn btn-default" href="{% url 'lmn:note_remove' note_pk=note.pk %}"><span class="glyphicon glyphicon-remove"></span></a>

<h2 id="note_page_title">{{ note.show.artist.name }} at {{ note.show.venue.name }}
    by <a href="{% url 'lmn:user_profile' user_pk=note.user.pk %}">{{ user.username }}</a></h2>

    {% if notes.published_date %}
            <div class="date">
                {{ notes.published_date }}
            </div>
{% endif %}

<h2 id="note_title"><b>{{ note.title}}</b></h2>
    <p id="note_text">{{ note.text }} </p>
    <img src="{{ note.picture.url }}" width="300">
</div>

{% endblock %}
